<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzuli.jz.dao.extend.AddressExtendMapper">
    <select id="selectAllWithUser"  resultMap="AddressExtendResultMap">
                SELECT * FROM jz_address
    </select>

    <resultMap id="AddressExtendResultMap"
               type="com.zzuli.jz.bean.extend.AddressExtend"
               extends="com.zzuli.jz.dao.AddressMapper.BaseResultMap">

        <association property="user" column="user_id"
                     select="com.zzuli.jz.dao.UserMapper.selectByPrimaryKey">
        </association>
    </resultMap>
</mapper>